body {
    text-align: center;
    font-family: Tahoma;
    font-size: 40px;
    width: 1000px;
    margin: 0 auto;
}

#Image_not_found {
    height: 280px;
    width: 1000px;
}

#Image_not_found img{
    width: 500px;
}